body {
    background-color: #642a5d;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 28px 10px 28px;
    background: black;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.button:hover {
    background: white;
    color: black;
}

#fileElem {
    display: none;
}

#drop-area {
    border: 4px solid black;
    border-radius: 20px;
    width: 480px;
    font-family: Lato;
    margin: 100px auto;
    padding: 20px;
    color: white;
    text-align: center;
}

#drop-area.highlight {
    border-color: white;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

progress,
progress[role][aria-valuenow] {
    background: black;
    border-radius: 5px;
    border: none;
}

::-webkit-progress-bar {
    background-color: black;
    border-radius: 5px;
}

::-webkit-progress-value {
    background-color: white;
    border-radius: 5px;
}

::-moz-progress-bar {
    background-color: white;
    border-radius: 5px;
}